*{
    outline: 1px solid red;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#gubben{
    position: relative;

    width: 10vw;
    height: 10vh;
    left: 0px;

    background: black;
}